# USB Base Class FFh (Vendor Specific) device HANS udev-rules file
#
# This base class is defined for vendors to use as they please.  These class
# codes can be used in both Device and Interface Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="ff", \
	ATTRS{bDeviceSubClass}=="00", \
	ATTRS{bDeviceProtocol}=="00", \
	ENV{MIMETYPE}="x-usb-device/vendor-specific", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
