# USB Base Class 09h (Hub) device HANS udev-rules file
#
# This base class is defined for devices that are USB hubs and conform to the
# definition in the USB specification.  That specification defines the complete
# triples as shown below.  All other values are reserved.  These class codes can
# only be used in Device Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="09", \
	ATTRS{bDeviceSubClass}=="00", \
	ENV{MIMETYPE}="x-usb-device/hub", \
	ENV{HANS_TAG}="1"
#	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
