# USB Base Class FEh (Application Specific) device HANS udev-rules file
#
# This base class is defined for devices that conform to several class
# specifications found on the USB-IF website.  That specification defines the
# usable set of SubClass and Protocol values.  Values outside of that defined
# spec are reserved.  These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="fe", \
	ATTRS{bDeviceSubClass}=="01", \
	ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/firmware-upgrade", \
	ENV{HANS_TAG}!="1",  \
        ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="fe", \
	ATTRS{bDeviceSubClass}=="02", \
	ATTRS{bDeviceProtocol}=="00", \
	ENV{MIMETYPE}="x-usb-device/irda-bridge", \
	ENV{HANS_TAG}!="1",  \
        ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="fe", \
	ATTRS{bDeviceSubClass}=="03", \
	ENV{MIMETYPE}="x-usb-device/test-measurement", \
	ENV{HANS_TAG}!="1",  \
        ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"


LABEL="hans_end"
