# USB Base Class EFh (Miscellaneous) device HANS udev-rules file
#
# This base class is defined for miscellaneous device definitions. Values not
# shown in the table below are reserved.  The use of these class codes (Device
# or Interface descriptor) are specifically annotated in each entry below.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="EF", \
	ATTRS{bDeviceSubClass}=="01", \
	ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/activesync", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="EF", \
	ATTRS{bDeviceSubClass}=="01", \
	ATTRS{bDeviceProtocol}=="02", \
	ENV{MIMETYPE}="x-usb-device/palm", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="EF", \
	ATTRS{bDeviceSubClass}=="02", \
	ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/iface-association-desc", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="EF", \
	ATTRS{bDeviceSubClass}=="02", \
	ATTRS{bDeviceProtocol}=="02", \
	ENV{MIMETYPE}="x-usb-device/wire-multifunction", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="EF", \
	ATTRS{bDeviceSubClass}=="03", \
	ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/cable-association-framework", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
