# USB Base Class 06h (Still Imaging) device HANS udev-rules file
#
# This base class is defined for devices that conform to the Imaging Device
# Class Specification found on the USB-IF website. That specification defines
# the usable set of SubClass and Protocol values.   Values outside of that
# defined spec are reserved.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="06", \
        ATTRS{bDeviceSubClass}=="01", \
        ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/imaging", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
