# USB Base Class DCh (Diagnostic Device) device HANS udev-rules file
#
# This base class is defined for devices that diagnostic devices. There is
# currently only one value defined. All other values are reserved. This class
# code can be used in Device or Interface Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="DC", \
	ATTRS{bDeviceSubClass}=="01", \
	ATTRS{bDeviceProtocol}=="01", \
	ENV{MIMETYPE}="x-usb-device/diagnostic", \
	ENV{HANS_TAG}!="1",  \
        ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
