# USB Base Class 03h (HID – Human Interface Device) device HANS udev-rules file
#
# This base class is defined for devices that conform to the HID Device Class
# Specification found on the USB-IF website. That specification defines the
# usable set of SubClass and Protocol values.   Values outside of that defined
# spec are reserved. These class codes can only be used in Interface
# Descriptors.
#
# Spec used to create the rule: http://www.usb.org/developers/defined_class

ENV{HANS_TAG}=="1", GOTO="hans_end"

KERNEL=="mouse*|mice*", \
	ACTION=="add", \
        ENV{MIMETYPE}="x-usb-device/hid-mouse", \
        ENV{HANS_TAG}!="1", \
        ENV{HANS_TAG}="1", \
        RUN+="/usr/bin/hans $env{MIMETYPE} $devpath", \
	GOTO="hans_end"

ACTION=="add", SUBSYSTEM=="usb", \
	ATTRS{bDeviceClass}=="03", \
	ENV{MIMETYPE}="x-usb-device/hid", \
	ENV{HANS_TAG}="1", \
	RUN+="/usr/bin/hans $env{MIMETYPE} $devpath"

LABEL="hans_end"
